pyyaml
pydantic
numpy
pandas
matplotlib
thefuzz
agno
langchain
langchain-core
langchain-classic
langchain-community
langchain-experimental
langchain-text-splitters
langchain-openai
langchain-ollama
faiss-cpu
rank-bm25
flashrank
